/.vscode
/binario.h.gch
/binario1.bin
/cabecalho.h.gch
/dado1.csv
/dado2.csv
/funcionalidades.h.gch
/funcoes_fornecidas.h.gch
/in
/lecsv.c
/lecsv.h
/lecsv.h.gch
/main
/out
/registros.h.gch
/saidas_func_1
/trab1.zip